{
	"extends": ["react-app"],
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"env": {
		"browser": true,
		"es6": true
	},
	"rules": {
		"no-var": "error",
		"prefer-const": "warn",
		"sort-imports": "error",
		"lines-between-class-members": "error",
		"eqeqeq": ["warn", "smart"]
	}
}
