@charset "utf-8";

body {
	font: 100% Helvetica Neue, Helvetica, Arial, sans-serif;
	/* background: #666666; */
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
}

.VisualizationMainPage #mainContent {
	/* padding: 0 20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
	background: #FFFFFF;
}

.VisualizationMainPage #container {
	background: #FFFFFF;
	/* margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
}

.VisualizationMainPage #algoControlSection {
	background: #F7C245;
	color: #000000;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.VisualizationMainPage #AlgorithmSpecificControls {
	vertical-align: middle;
}

.VisualizationMainPage #examplesButton {
	background-image: url('icons/examples.png');
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: center;
	background-color: transparent;
	border: none;
	width: 40px;
	height: 40px;
}

.VisualizationMainPage #generalAnimationControlSection {
	background: #F7C245;
	color: #006600;
}

.VisualizationMainPage #header {
	background: #4277BB;
	color: #F7C245;
	padding: 0 10px 0 20px;
}

.VisualizationMainPage #header A:visited {
	text-decoration:none
	color: #F7C245
}

.VisualizationMainPage #header h1 {
	margin: 0;
	padding: 10px 0;
	}

.VisualizationMainPage #header A:link {
    text-decoration:none;
    color: #F7C245
}

.VisualizationMainPage #container {
	background: #FFFFFF;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
}

.VisualizationMainPage #footer A:visited {
	text-decoration: none;
	color: #F7C245;
}

.VisualizationMainPage #footer A:link {
    text-decoration: none;
	color: #F7C245;
}

.VisualizationMainPage #mainContent h1 {
	padding: 0 20px;
	background: #FFFFFF;
	color: #4277BB;
}

.VisualizationMainPage #mainContent h2 {
	padding: 0 20px;
	background: #FFFFFF;
	color:#4277BB;
}

.VisualizationMainPage #mainContent h3 {
	padding: 0 20px;
	background: #FFFFFF;
	color:#4277BB;
}

.VisualizationMainPage #footer {
	padding: 0 10px;
	background: #4277BB;
	color:#F7C245;
}

.VisualizationMainPage #footer p {
	margin: 0;
	padding: 10px 0;
}

EM {
	text-decoration: bold;
}

.VisualizationMainPage .modal {
	display: none;
	position: absolute;
	z-index: 1;
	right: 20px;
	top: 120px;
	width: 350px;
	height: 460px;
}
  
.VisualizationMainPage .modal-content {
	background-color: #fefefe;
	padding: 0px 30px 0px 0px;
	height: 100%;
	border-radius: 20px;
	background-color: #F7C245;
}

.VisualizationMainPage li {
	line-height: 1.4em;
	margin: 0px 0px 15px 0px;
}

.VisualizationMainPage .equation {
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	margin: 5px 0px;
}

.VisualizationMainPage .vgroup {
	display: flex;
	flex-direction: column;
}

.VisualizationMainPage .vgroup {
	display: flex;
}