/* controlling the look of the left-hand menu */

body {
	font: 100% Helvetica Neue, Helvetica, Arial, sans-serif;
	/* background: #666666; */
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	/* text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
}

.about {
	margin-left:30px;
	text-align:center;
}

.code {
	background: #EEEEEE;
}

.menu {
	float:left;
	/* height: 88%; */
	line-height:110%;
	margin-left:-30px;
	/* border-right:1px solid #004D99; /* solid grey;  */
	padding:1em;
	width:150px;
	/* font-family: Helvetica, sans-serif;
	color: #66EEEE; */
}

.menu ul {
	list-style-type: none;
}

.menu a {
	font-weight: bold;
	text-decoration: none;
	color:#4277BB;
}

.content h1 {
	color:#4277BB;
}

.content h2 {
	color:#4277BB;
}

.content h3 {
	color:#4277BB;
}

.content a {
	/* font-weight: bold; */
	text-decoration: none;
	color:#5C9BA4;
}

.content a:hover {
	color:#F7C245;
}

.menu a:hover {
	color:#F7C245;
}

.menu a:visited {
	/* color:grey; */
}

.about a {
	/* font-weight: bold; */
	text-decoration: none;
	color:#5C9BA4;
}

.about a:hover {
	color:#F7C245;
}

.about a:visited {
	/* color:grey; */
}

.text, .personal {
	margin: 0px 100px 100px 200px;
	position: absolute;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.personal a {
	color:#5C9BA4;
	text-decoration: none;
}

.personal a:hover {
	color:#F7C245;
}

.personal a:visited {
	/* color: #006633; */
}

div.header h1 {
	margin: 0;
	padding: 10px 0;
	text-align: center;
}

div.container {
	width:100%;
	/* height: 100%; */
	margin:0px;
	/* border:1px solid #004D99; /* solid grey; */
	line-height:100%;
}

div.header, div.footer {
	font: 100% Helvetica Neue, Helvetica, Arial, sans-serif;
	color:#F7C245;
	background: #4277BB;
	/* border:1px solid grey; */
}

.footer a {
	color:#022639;
}

h1.header {
	padding:0;
	margin:0;
}

div.content {
	margin-left:150px;
	border-left:1px solid #006633;
	padding:1em;
}

.contact {
	text-align: center;
	margin: 25px 0px 0px 400px;
	position: absolute;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

a {
	cursor: pointer;
}

input.button {
	font: 100% Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	color: #F7C245;
	background-color: #022639;
	width: 300px;
    padding: 10px;
    margin: 15px;
}
